<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.cozy.cordova-downloadmanager"
    version="0.0.1">
    <name>DownloadManager</name>
    <description>Download using android DownloadManager</description>
    <license>Apache 2.0</license>
    <keywords>cordova,images,mediastore</keywords>
    <repo>https://github.com/aenario/cordova-downloadmanager.git</repo>
    <issue>https://github.com/aenario/cordova-downloadmanager/issues/</issue>

    <js-module src="www/download-manager.js" name="downloadmanager">
        <clobbers target="DownloadManager" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DownloadManagerPlugin" >
                <param name="android-package" value="io.cozy.downloadmanager.DownloadManagerPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DownloadManagerPlugin.java" target-dir="src/io/cozy/downloadmanager" />
    </platform>

</plugin>
